<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <style>
        table{
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Code</th>
            <th>Class Code</th> 
            <th>Name</th>
            <th>Units</th>
            <th>Capacity</th>
            <th>Type</th>
            <th>Days</th>
            <th>Time</th>
            <th>Exam Start</th>
            <th>Exam End</th>
            <th>Prerequisites</th>
            <th>Links</th>
        </tr>
        <tr>
            <td>8101001</td>
            <td>01</td> 
            <td>Advanced Programming</td>
            <td>3</td>
            <td>45</td>
            <td>Asli</td>
            <td>Sunday|Tuesday</td>
            <td>10:30-12:00</td>
            <td>2021-06-21T14:00:00</td>
            <td>2021-06-21T17:00:00</td>
            <td>8101013|8101002</td>
            <td><a href="/course/8101001/01">Link</a></td>
        </tr>
        <tr>
            <td>8101033</td>
            <td>01</td> 
            <td>Islamic Thought 1</td>
            <td>2</td>
            <td>60</td>
            <td>Umumi</td>
            <td>Tuesday</td>
            <td>9:00-10:30</td>
            <td>2021-06-18T14:00:00</td>
            <td>2021-06-18T17:00:00</td>
            <td></td>
            <td><a href="/course/8101033/01">Link</a></td>
        </tr>
    </table>
</body>
</html>