<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course</title>
    <style>
        li {
        	padding: 5px
        }
    </style>
</head>
<body>
    <ul>
        <li id="code">Code: 8101001</li>
        <li id="class_code">Class Code: 01</li>
        <li id="units">units: 3</li>
        <li id="days">Days: Sunday, Tuesday</li>
        <li id="time">Time: 10:30-12:00</li>
        <form action="" method="POST" >
            <label>Student ID:</label>
            <input type="text" name="std_id" value=""/>
            <button type="submit">Add</button>
        </form>
    </ul>
</body>
</html>