# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\مهندسی اینترنت\Ali Javidan & Mohsen Amjadi\CA4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
